:root {
  --brand-darkest: #000;
  --brand-lightest: #fff;
  --gray-base: #323232;
  --brand-primary: #ff0000;
  --brand-primary--inverted: #fff;
  --brand-secondary: #ffff00;
  --brand-secondary--inverted: #000;
  --main-navigation-color: var(--brand-primary);
  --main-navigation-color--inverted: var(--brand-primary--inverted);
  --body-bg: var(--brand-secondary);
  --body-text: var(--brand-secondary--inverted);
  --component-bg: var(--brand-secondary);
  --component-text-color: var(--brand-secondary--inverted);
  --input-bg: var(--brand-lightest);
}